* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;

    background:
        linear-gradient(
            rgba(25, 5, 45, 0.88),
            rgba(10, 2, 20, 0.94)
        ),
        url("aite building.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: white;
}

.signup-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.signup-box {
    width: 420px;
    max-width: 100%;
    padding: 40px;
    border-radius: 20px;
    background: rgba(35, 10, 55, 0.95);
    border: 2px solid #a855f7;

    box-shadow:
        0 0 25px rgba(168, 85, 247, 0.5),
        0 15px 40px rgba(0, 0, 0, 0.5);

    text-align: center;
}

.signup-logo {
    margin-bottom: 15px;
}

.signup-logo img {
    width: 95px;
    height: 95px;
    object-fit: contain;
}

.signup-box h1 {
    font-size: 38px;
    color: #d8b4fe;
    letter-spacing: 3px;
    margin-bottom: 5px;
}

.signup-box h2 {
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
}

.signup-description {
    color: #c4b5fd;
    font-size: 14px;
    margin-bottom: 30px;
}

.signup-input-group {
    text-align: left;
    margin-bottom: 18px;
}

.signup-input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #e9d5ff;
}

.signup-input-group input {
    width: 100%;
    padding: 14px;

    border: 1px solid #9333ea;
    border-radius: 10px;

    background: rgba(255, 255, 255, 0.08);
    color: white;

    outline: none;
    font-size: 15px;
}

.signup-input-group input::placeholder {
    color: #c4b5fd;
}

.signup-input-group input:focus {
    border-color: #d8b4fe;

    box-shadow:
        0 0 10px rgba(168, 85, 247, 0.4);
}

.signup-btn {
    width: 100%;
    padding: 14px;

    border: none;
    border-radius: 10px;

    background: #7e22ce;
    color: white;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
    transition: 0.3s;
}

.signup-btn:hover {
    background: #a855f7;
    transform: translateY(-2px);
}

#signupMessage {
    min-height: 20px;
    margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
}

.back-login {
    display: block;
    margin-top: 25px;

    color: #d8b4fe;
    text-decoration: none;
    font-size: 14px;
}

.back-login:hover {
    color: white;
    text-decoration: underline;
}

.signup-box footer {
    margin-top: 30px;
    padding-top: 20px;

    border-top: 1px solid rgba(168, 85, 247, 0.4);

    color: #c4b5fd;
    font-size: 13px;
}

@media (max-width: 500px) {

    .signup-page {
        padding: 20px;
    }

    .signup-box {
        padding: 30px 25px;
    }

    .signup-box h1 {
        font-size: 32px;
    }

    .signup-box h2 {
        font-size: 21px;
    }
}